.comment-section-main-div {
    position: absolute;
    top: 40%;
    left: 23.2%;
    height: 50%;
    width: 28rem;
    border: .5px solid white;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom: none;
     background: rgba(255, 255, 255, 0.623);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
}

.comment-close-icon {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.comment-close-icon:hover {
    color: #ff0000;
    transition: .3s ease-in-out;
    scale: 1.1;
}

.comment-header-span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: .5rem 0; */
}

.comment-section-child {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 15px;

}

.comment-section-child::-webkit-scrollbar {
    background-color: transparent;
    width: .3rem;
}

.comments-container {
    width: 100% ;
    height: max-content;
    margin: .1rem 0;
    min-height: 25%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    /* margin: .2rem 0; */
    padding: 7px;
    /* border-radius: 7px; */
    font-size: small;
}

.comment-user-data {
    width: 100%;
    align-items: center;
}

.comment-user-data>div {
    width: 15%;
    font-weight: 400;
    font-size: medium;
}

.comment-time-div{
    width: 100%;
}

.comment-time-tag {
    color: rgb(111, 111, 111);
    font-size: smaller;
    font-weight: 400;
}

.comment-text{
    padding-left: 5px;
}

.comment-options-icon{
    font-size: large;
    cursor: pointer;
}


.comment-name-holder{
    width: max-content !important;
    gap: .2rem;

}

.comment-input-div {
    width: 100%;
    height: 3rem;
    align-self: flex-start;
    place-self: flex-end;
    padding-right: 10px;

}


.comment-user-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: .5rem;
}

.comment-input-container {
    width: 85%;
    height: 92%;
    background: #ffffffda;
    border-radius: 7px;
    border: .5px solid rgb(163, 163, 163);
    /* border-bottom-right-radius: 10px; */



}

.comment-input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #000;
    padding-left: .5rem;
}

.comment-input:focus {
    outline: none;
}

.comment-submit-icon {
    font-size: 2rem;
    margin-right: .5rem;
}


.event-none-btn {
    background: transparent;
    border: none;
    color: rgb(160, 160, 160);
    cursor: not-allowed;
    pointer-events: none;
}

.send-comment-btn {
    background: transparent;
    border: none;
    color: rgba(0, 217, 163, 0.668);
    cursor: pointer;
}

.comment-author-pro-pic {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;

}