.comment-section-main-div {
    position: absolute;
    top: 40%;
    left: 23.2%;
    height: 50%;
    width: 28rem;
    border: .5px solid white;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    flex-direction: column-reverse;
}