* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.login-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.login-main-div {
    background-color: rgba(202, 202, 202, 0.147);
    border-radius: 8px;
    width: 22%;
    min-height: 35%;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 .5px rgba(183, 183, 183, 0.466);
    backdrop-filter: blur(2px);
}

.login-form {
    height: 8rem;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}

.input-div {
    height: 2rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(208, 208, 208);
    padding: 0 6px;
    border-radius: 5px;
}

.input-div:hover {
    background-color: aliceblue;
}


.email-icon,
.lock-icon,
.eye-icon {
    color: rgb(155, 155, 155);
}

.eye-icon {
    cursor: pointer;
}

.input-div input {
    height: 100%;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}

.input-div input:focus {
    outline: none;

}

.input-div:focus-within {
    background-color: aliceblue;
}

.inst-div {
    width: 100%;
    justify-content: space-between;
    /* align-items: ; */
    font-size: .9rem;
    color: rgb(0, 0, 255);
}


.inst-div span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-button-div {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

.login-button {
    width: 70%;
    height: 1.6rem;
    border-radius: 15px;
    border: none;
    font-size: large;
}


.login-button{
    background-image: linear-gradient(to right, #0066ff 0%, #0e70f0 51%, #00d2ff 100%)
}

.login-button {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    cursor: pointer;
}

.login-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button-clicked{
    transform: scale(.9);
}

.error-border{
    border: 1px solid red;
}

.invalid-email{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}