.post-main-div{
    position: absolute;
    height: 62%;
    width: 45%;
}

.post-text-div{
    position: relative;
    width: 100%;
    height: 16rem;
    min-width: 300px;
}

.post-textarea{
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    padding: 10px 0 0 10px;
}


.post-options-div{
    position: absolute;
    left: 26%;
    top: 80%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.post-option{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid cornflowerblue;
    cursor: pointer;
}

.post-pic-optn{
    font-size: x-large;
    color: rgba(220, 223, 224, 0.825);
    background-image: linear-gradient(155deg, rgb(229, 176, 124) 0%, rgb(229, 176, 124) 41%,rgb(198, 157, 133) 41%, rgb(198, 157, 133) 42%,rgb(167, 139, 142) 42%, rgb(167, 139, 142) 44%,rgb(136, 120, 151) 44%, rgb(136, 120, 151) 45%,rgb(105, 101, 159) 45%, rgb(105, 101, 159) 61%,rgb(74, 83, 168) 61%, rgb(74, 83, 168) 78%,rgb(43, 64, 177) 78%, rgb(43, 64, 177) 100%),linear-gradient(322deg, rgb(229, 176, 124) 0%, rgb(229, 176, 124) 41%,rgb(198, 157, 133) 41%, rgb(198, 157, 133) 42%,rgb(167, 139, 142) 42%, rgb(167, 139, 142) 44%,rgb(136, 120, 151) 44%, rgb(136, 120, 151) 45%,rgb(105, 101, 159) 45%, rgb(105, 101, 159) 61%,rgb(74, 83, 168) 61%, rgb(74, 83, 168) 78%,rgb(43, 64, 177) 78%, rgb(43, 64, 177) 100%),linear-gradient(33deg, rgb(229, 176, 124) 0%, rgb(229, 176, 124) 41%,rgb(198, 157, 133) 41%, rgb(198, 157, 133) 42%,rgb(167, 139, 142) 42%, rgb(167, 139, 142) 44%,rgb(136, 120, 151) 44%, rgb(136, 120, 151) 45%,rgb(105, 101, 159) 45%, rgb(105, 101, 159) 61%,rgb(74, 83, 168) 61%, rgb(74, 83, 168) 78%,rgb(43, 64, 177) 78%, rgb(43, 64, 177) 100%),linear-gradient(315deg, rgb(229, 176, 124) 0%, rgb(229, 176, 124) 41%,rgb(198, 157, 133) 41%, rgb(198, 157, 133) 42%,rgb(167, 139, 142) 42%, rgb(167, 139, 142) 44%,rgb(136, 120, 151) 44%, rgb(136, 120, 151) 45%,rgb(105, 101, 159) 45%, rgb(105, 101, 159) 61%,rgb(74, 83, 168) 61%, rgb(74, 83, 168) 78%,rgb(43, 64, 177) 78%, rgb(43, 64, 177) 100%),linear-gradient(41deg, rgb(229, 176, 124) 0%, rgb(229, 176, 124) 41%,rgb(198, 157, 133) 41%, rgb(198, 157, 133) 42%,rgb(167, 139, 142) 42%, rgb(167, 139, 142) 44%,rgb(136, 120, 151) 44%, rgb(136, 120, 151) 45%,rgb(105, 101, 159) 45%, rgb(105, 101, 159) 61%,rgb(74, 83, 168) 61%, rgb(74, 83, 168) 78%,rgb(43, 64, 177) 78%, rgb(43, 64, 177) 100%),linear-gradient(90deg, rgb(192, 100, 79),rgb(56, 158, 172)); background-blend-mode:overlay,overlay,overlay,overlay,overlay,normal;
}

.post-mood-optn{
    color: rgba(235, 235, 235, 0.784);
    font-size: x-large;
    background-position: center;
    background-size: 300%;
    background-image: repeating-radial-gradient(ellipse at center center, rgb(75, 154, 242),rgb(64, 135, 228),rgb(54, 117, 214),rgb(43, 98, 200),rgb(33, 79, 185),rgb(22, 60, 171),rgb(12, 42, 157),rgb(1, 23, 143) 1px);
    /* background-image: repeating-radial-gradient(circle at center center, rgb(51, 21, 217) 0px, rgb(51, 21, 217) 2px,rgb(254, 112, 5) 2px, rgb(254, 112, 5) 3px); background-size: 69px 69px; */
}

.post-sticker-optn{
    color: rgba(235, 235, 235, 0.784);
    font-size: x-large;
    background-size: 100%;
    background-image: radial-gradient(circle at 24% 76%, rgb(132,58,234) 0%, rgb(132,58,234) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 76% 76%, rgb(132,58,234) 0%, rgb(132,58,234) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 76% 24%, rgb(132,58,234) 0%, rgb(132,58,234) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 24% 24%, rgb(132,58,234) 0%, rgb(132,58,234) 20%,transparent 20%, transparent 100%),radial-gradient(circle at center center, rgb(99,20,187) 0%, rgb(99,20,187) 71%,transparent 71%, transparent 100%),linear-gradient(90deg, rgb(132,58,234),rgb(132,58,234)); background-size: 49px 49px;
}


.close-icon{
    position: absolute;
    left: 93%;
    top: 2%;
    font-size: larger;
    color: rgb(255, 50, 50);
    cursor: pointer;
}


