.profile-main-div {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    background: linear-gradient(to right, #00d2ff, #3a7bd5);

}

.app-content-section {
    width: 55%;
    height: 100vh;
}

.profile-data-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(167, 167, 167, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(167, 167, 167, 0.38);
}



.profile-data-div{
    height: 16rem;
    align-items: center;
    justify-content: space-around;
}

.profile-image-div {
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    /* border: 1px solid rgba(182, 109, 255, 0.952); */
}

.profile-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}