.profile-nav-div {
    position: relative;
    width: 50%;
    height: 3.5rem;
    border-radius: 10px;
    margin-bottom: 15px;
}

.profile-nav-main-child {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    place-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    place-content: center;
    gap: 4px;
}

.pro-nav-option-div {
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.17);
    height: 50px;
    width: 90px;
    border-radius: 7px;
    font-weight: 400;
    cursor: pointer;
    
}

.pro-nav-option-div:hover {
    transform: scale(1.1);
    transition: ease-in-out 1s;
}