.signup-container{
  background: linear-gradient(to right, #2980b9, #3b7ec1, #5f7d80);    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.signup-main-div{
    width: 24%;
    min-width: 24%;
    min-height: 38%;
    background-color: rgba(202, 202, 202, 0.147);
    box-shadow: inset 0 0 .5px rgba(183, 183, 183, 0.466);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
}

.signup-input-div{
    flex-grow: 1;
}

.display-none{
    display: none;
}

