.signup-container{
  background: linear-gradient(to right, #2980b9, #3b7ec1, #5f7d80);    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.signup-main-div{
    width: 24%;
    min-width: 280px;
    min-height: 38%;
    background-color: rgba(202, 202, 202, 0.147);
    box-shadow: inset 0 0 .5px rgba(183, 183, 183, 0.466);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    color: rgb(212, 255, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-form{
    align-items: center;
    width: 70%;
}

.signup-input-div{
    align-items: center;
    justify-content: space-between;
}

.signup-username-div{
    position: relative;
}

.username-available{
    position: absolute;
    bottom: -1.2rem;
    font-size: small;
}

.signup-confirm-password-div{
    margin: .3rem 0;
}

.display-none{
    display: none;
}

.signup-form{
    justify-content: space-between;
    height: 6rem;
}

.justify-space{
    justify-content: space-between;
    height: 12rem;
}


.next-button{
    height :2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    border: none;
    font-size: larger;
   
}

.valid-button{
    color: aquamarine;
    background-color: rgba(202, 202, 202, 0.147);
    box-shadow: inset 0 0 .5px rgba(192, 255, 225, 0.538);
    backdrop-filter: blur(2px);
    cursor: pointer;
}

.invalid-button{
    background-color: rgba(184, 184, 184, 0.729);
    color: rgb(196, 196, 196);
    cursor: not-allowed;
    pointer-events: none;

}

.oauth-div{
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.oauth-buttons-div{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;

}

.signup-password-div{
    position: relative;
}

.signup-confirm-password-div{
    position: relative;
}

.password-correction-div{
    position: absolute;
    top: 2rem;
    font-size: x-large;
    display: flex;
    justify-content: center;
    width: 95%;
}

.password-requirement-div{
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 100%;
    position: absolute;
    top: 2rem;
    font-size: larger;
}

.requirement-icon{
    color-interpolation-filters: linearRGB;
    color: rgb(185, 185, 185);
    width: 1.5rem;
}

.valid-requirement-icon{
    color: aquamarine;
}

.password-mismatch{
    color: rgb(255, 102, 102);
    font-size: small;
}

.event-none{
    pointer-events: none;
    opacity: 0.2;
}

.oauth-button{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    font-size: larger;
    border: .5px solid rgba(192, 255, 225, 0.538);
    background-color: rgba(202, 202, 202, 0.147);
    box-shadow: inset 0 0 .5px rgba(192, 255, 225, 0.538);
    backdrop-filter: blur(2px);
    margin: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.signup-button{
    height: 2.5rem;
    width: 5rem;
    border-radius: 2rem;
    border: none;
    background-color: rgba(202, 202, 202, 0.147);
    box-shadow: inset 0 0 .5px rgba(192, 255, 225, 0.538);
    backdrop-filter: blur(2px);
}

.apple-icon{
    color: rgb(204, 197, 197);
} 

.facebook-icon{
    color: rgb(59, 89, 152);
}

.signup-icon{
    color: rgb(155, 155, 155);
}