.signup-container{
  background: linear-gradient(to right, #2980b9, #3b7ec1, #5f7d80);    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.signup-main-div{
    width: 24%;
    min-width: 280px;
    min-height: 38%;
    background-color: rgba(202, 202, 202, 0.147);
    box-shadow: inset 0 0 .5px rgba(183, 183, 183, 0.466);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
}



.signup-input-div{
    align-items: center;
    justify-content: space-between;
}

.display-none{
    display: none;
}

.signup-form{
    justify-content: space-between;
    height: 6rem;
}

.justify-space{
    justify-content: space-between;
}

.next-button{
    height :2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    border: none;
    font-size: larger;
   
}

.valid-button{
    color: aquamarine;
    background-color: rgba(202, 202, 202, 0.147);
    box-shadow: inset 0 0 .5px rgba(192, 255, 225, 0.538);
    backdrop-filter: blur(2px);
    cursor: pointer;
}

.invalid-button{
    background-color: rgb(219, 219, 219);
    color: rgb(184, 181, 181);
    cursor: not-allowed;
    pointer-events: none;

}

