.getting-started-div {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, rgba(255, 255, 255, 0.654) 100%);
    color: aliceblue;

}

ul{
    list-style-type: disc;
    /* padding-left: 20px; */
    list-style-type: none;
}

.gs-list li{
    height: 2rem;
    width: 100%;
    text-align: center;
}

.btn-grad {
    background-image: linear-gradient(to right, #B2FEFA 0%, #0ED2F7 51%, #B2FEFA 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: none;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.getting-started-div h2 {
  font-size:26px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
}
.getting-started-div h2:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.getting-started-div h2:after {
    background-color: #c50000;
    content: '';
    display: block;
  position:absolute; right:10%; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}
