.pop-up{
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30%;
    min-width: 300px;
    height: 28rem;
    border-radius: 7px;
    /* background-color: rgba(202, 202, 202, 0.147); */
     background-image: url(../../assets/graf.jpg);
    background-size: cover;
    background-position: center;
    animation: shine 15s infinite alternate;
    box-shadow: inset 0 0 .5px rgba(183, 183, 183, 0.466);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}