.pfp-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.add-photo-icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #4CB8C4;

}


.pfp-upload-button {
    /* background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%) */
     background-color: rgba(202, 202, 202, 0.147);
     box-shadow: inset 0 0 1px aquamarine;
}

.upload-icon{
    color: aquamarine;
    cursor: pointer;
}


.pfp-upload-button {
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: none;
    font-size: x-large;
}

.pfp-upload-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}